. contenedor de inicio de sesión {
    margen superior :  15 % ;
}
. formulario de inicio de sesión-1 {
    radio del borde :  5 px ;
    sombra de cuadro :  0  5 px  8 px  0  rgba ( 0 ,  0 ,  0 ,  0.2 ) ,  0  9 px  26 px  0  rgba ( 0 ,  0 ,  0 ,  0.19 );
    relleno :  5 % ;
}
. formulario de inicio de sesión-1  h3 {
    alineación de texto : centro;
    color :  # 333 ;
}
. formulario de inicio de sesión-2 {
    radio del borde :  5 px ;
    sombra de cuadro :  0  5 px  8 px  0  rgba ( 0 ,  0 ,  0 ,  0.2 ) ,  0  9 px  26 px  0  rgba ( 0 ,  0 ,  0 ,  0.19 );
    relleno :  5 % ;
    fondo :  # 0062cc ;
}
. formulario de inicio de sesión-2  h3 {
    alineación de texto : centro;
    color :  #fff ;​
}
. formulario de contenedor de inicio de sesión  {
    relleno :  10 % ;
}
. btnEnviar
{
    ancho :  50 % ;
    radio de borde :  1 rem ;
    relleno :  1,5 % ;
    borde : ninguno;
    cursor : puntero;
}
. formulario de inicio de sesión-1 . btnEnviar {
    color :  #fff ;​
    color de fondo :  # 0062cc ;
}
. formulario de inicio de sesión-2 . btnEnviar {
    color de fondo :  # fff ;
    color :  # 0062cc ;
}
. formulario de inicio de sesión-2 . OlvidarPwd {
    color :  #fff ;​
    peso de fuente :  600 ;
    decoración de texto : ninguna;
}
. formulario de inicio de sesión-1 . OlvidarPwd {
    color :  # 0062cc ;
    peso de fuente :  600 ;
    decoración de texto : ninguna;
}